a {
  text-decoration: none;
  color: $text;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 50px;
    color: $text;

    li {
      transition: transform 0.5s ease;
    }
    li:hover {
      transform: scale(1.2);
    }
  }

  .nav-last {
    display: flex;
    gap: 20px;
    align-items: center;

    a {
      color: $text;
    }

    a:hover {
      color: green;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#navMenu {
  width: 40%;
}

/* Desktop */
nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

/* Hamburger Button */
.hamburger {
  width: 30px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  height: 4px;
  width: 100%;
  background: #000;
  border-radius: 5px;
  transition: 0.3s;
}

/* Mobile Menu (hidden by default) */

/* Hamburger Animation */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 8px);
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-56deg) translate(5px, -6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}
// .hamburger.active span:nth-child(3) {
//   transform: rotate(-45deg) translate(7px, -8px);
// }

// --------------------------------
.button {
  @include buttons;
}

.hero {
      margin: 0 -20px;

  @include flex;
  .side {
    flex: 0 0 calc(100% / 2 - 20px);
    margin: 20px 20px 0;
  }
  //   padding: 120px 0px;

  .title {
    max-width: 467px;

    h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 57px;
      color: $text;
    }
    span {
      background: linear-gradient(#21b6c9, #9fc85d);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  p {
    max-width: 450px;
    padding: 30px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #4f5e64;
  }
}

.popular {
  padding: 30px 30px;
  @include center;
  display: flex;
  justify-content: center;
  span {
    font-weight: bold;
    font-size: 14px;
    color: rgba(55, 54, 54, 0.818);
  }
  a {
    color: #4f5e64;
    font-size: 14px;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
      color: black;
    }
  }
}

// -------search

.search {
  @include flex;
  background-color: #fff;
  gap: 30px;
  padding: 15px 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.356);
  // max-width: 650px;
  text-align: center;

  .left {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .block {
    @include flex;
    gap: 10px;
  }
}
// -------------------------browse -----------

.browse-section {
  padding: 50px 0;
}
.b-title {
  margin-bottom: 30px;
  h2 {
    @include head;
  }

  p {
    @include sub-head;
  }
}

.r-title{
  margin-bottom: 40px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  // margin: 0 auto;
  // padding: 40px 0;
  margin: 0 -20px;
  // gap: 40px;
  justify-content: center;
}

.c-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h4 {
    font-size: 14px;
    font-weight: 700;
    color: $text;
    line-height: 26px;
  }
  p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #4f5e64;
  }
}
.card {
  align-items: start;
  @include card;
  margin: 20px 20px 0;

  h5 {
    display: none;
  }
}

.banner-section {
      padding: 50px 0;
}


.banner {
  max-width: 1000px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-around;
  margin: 0 auto;

  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.355);
  .b-left {
    @include flex;
  }

  .b-right {
    @include flex;

    p {
      font-size: 18px;
      font-weight: 500;
      color: #66789c;
      max-width: 300px;
    }
  }

  h4 {
    font-size: 16px;
    color: #a0abb8;
    font-weight: 700;
  }
  h1 {
    color: $text;
    font-weight: 700;
    font-size: 50px;
  }
}
