.jobs {
  .j-title {
    margin: 30px 0;
  }
  h2 {
    @include head;
  }

  p {
    @include sub-head;
  }

  .j-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // gap: 10px;
    padding: 20px 0;
    margin: 0 -20px;
  }

  .j-card {
    display: flex;
    align-items: center;
        gap: 10px;
        margin: 10px 10px 0;
    justify-content: center;
    flex: 0 0 calc(100% / 9 - 20px);
    border: 1px solid #0612241a;
    padding: 5px;
    border-radius: 12px;

    img {
      // width: 50%;
    }
  }
}

// boxess

.boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin: 0 -20px;
  justify-content: center;
  // gap: 20px;


  .box {
    flex: 0 0 calc(100%/5 - 20px);
    // max-width: 280px;
    margin: 20px 20px 0;
    padding: 43px 21px 21px;

    border: 1px solid #e0e6f7;

    background-color: $primary;

    &:hover {
      background-color: white;
    }

    .apply {
      padding-left: 70%;
      padding-top: 20px;
    }

    button {
      background-color: #dbfcff;
      font-size: 12px;
      color: #4ea0c1;
      font-weight: 400;
      padding: 11px 13px;
      border: none;
    }

    h5 {
      font-size: 16px;
      font-weight: 700;
      // padding: 5px;
      margin-bottom: 7px;
    }

    .base {
      display: flex;
      // padding: 5px;
      margin-bottom: 18px;

      .b-span {
        font-size: 12px;
        font-weight: 500;
        color: #a0abb8;
      }
    }

    p {
      font-size: 14px;
      line-height: 21px;
      font-weight: 500;
      color: #4f5e64;
      max-width: 250px;
      // padding: 5px;
      margin-bottom: 38px;
    }

    .j-btns {
      display: flex;
      gap: 10px;
      margin-bottom: 30px;
    }
  }
}

// =======================million section============================

.million-section {
  padding: 100px 0px 50px;
}
.million {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .m-left {
    position: relative;
    // width: fit-content;

    .up,
    .down {
      position: absolute;
    }

    .up {
      position: absolute;
      top: -81px;
      left: -28%;
    }

    .down {
      bottom: -150px;
      right: 55px;
    }
  }
}

.m {
  flex: 0 0 calc(100% / 2 - 40px);
}
.m-right {
  h3 {
    font-size: 32px;
    color: #a0abb8;
    font-weight: 800;
  }

  h2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 20px;
    color: $text;

    span {
      color: $secondary;
    }
  }

  p {
    color: #4f5e64;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 26px;
  }

  button {
    @include buttons;
  }
}

// ==========banner2================


.banner2-section{
  padding: 88px 0;
}
.banner2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // padding: 88px 0;
  margin: 0 -10px;

  .b-box {
    // max-width: 235px;

    text-align: center;
    flex: 0 0 calc(100% / 4 - 20px);
    margin: 25px 10px 0;

    h2 {
      color: $secondary;
      font-size: 56px;
      font-weight: 800;
      line-height: 71px;
    }

    h4 {
      font-weight: 700;
      font-size: 20px;
      color: $text;
    }
    p {
      font-size: 14px;
      line-height: 22px;
      font-weight: 500;
      color: #4f5e64;
    }
  }
}

// ==========recruiter section============

.recruiter-section {
  padding: 10px 0px 76px;
}

.recruiter {
  h2 {
    @include head;
  }
  p {
    @include sub-head;
  }

  .r2{
    p{
      font-size: 14px;
    }

  }
}

.r-card {
  flex: 0 0 calc(100% / 6 - 40px);
  // gap: 20px;
  border: 1px solid #0612241a;
  padding: 20px;
  border-radius: 12px;
  margin: 20px 20px 0;

  .r1 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;

    i {
      color: gold;
    }

    .r-img {
      width: 50px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .start {
      display: flex;
      align-items: center;
    }
  }

  .r2 {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .rr {
    display: flex;
    align-items: center;
  }
  .r-location {
    display: flex;
    align-items: center;
  }
}

// ======location section==============

.location-section {
  padding: 10px 0 70px;
}
.location {
  .l-card-wrapper {
    display: flex;
    flex-wrap: wrap;

    margin: 0 -20px;

    justify-content: center;
    // align-items: center;
    // gap: 35px;
  }

  .l-title {
    margin-bottom: 30px;

    h2 {
      @include head;
    }
    p {
      @include sub-head;
    }
  }

  .l1,
  .l2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }

  .l-card,
  .l2-card {
    flex: 0 0 calc(100% /4 - 10px);
    // margin: 0 auto;
    // gap: 10px;



        margin: 20px 20px 0px;
    border: 2px solid #e0e6f7;
    padding: 10px;
    border-radius: 10px;

    h5 {
      font-size: 20px;
      font-weight: 700;
      color: $text;
      text-align: start;
      padding: 10px 0;
    }

    .l-img {
      // width: 450px;
    }
    .ll {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        color: #66789c;
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
  }
}

// ===========Blog==============

.blog-section {
  padding: 20px 0px;


  .blog {

    .b-title{
      margin-bottom: 30px;

    }
    .b-cards {
      display: flex;
      // gap: 30px;
      flex-wrap: wrap;
      align-items: center;
      //  margin: 0 -30px;
      justify-content: center;
      margin-bottom: 30px;
    }

    .b-card {
      flex: 0 0 calc(100% / 3 - 60px);
margin: 20px 10px 0;
      border-radius: 10px;

      padding: 15px;
      border: 2px solid #a0abb881;

      .b-img {
        margin-bottom: 13px;

        img {
          object-fit: cover;
          width: 100%;
        }
      }
      span {
        background-color: #dbfcff;
        border-radius: 5px;
        font-size: 12px;
        padding: 5px 10px;
        font-weight: 600;

        a {
          color: $secondary;
        }
      }

      .b-content {
        h2 {
          font-size: 20px;
          line-height: 26px;
          font-weight: 700;
          color: $text;
          padding: 13px 0;
          max-width: 90%;
        }

        p {
          font-weight: 500;
          font-size: 14px;
          color: #4f5e64;
          padding: 2px 0px 25px;

          max-width: 100%;
        }
      }

      .b-foot {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .profil {
          display: flex;
          gap: 10px;
        }
      }
    }
  }

  .b-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      background-color: $text;
      color: #ffff;

      font-size: 14px;
      font-weight: 400;
      padding: 17px 25px;
      max-width: 180px;
      border-radius: 5px;
    }
  }
}

// banner3

.banner3-section{
  padding: 120px 0px 100px;
}
.banner3 {
  .b3-left {
    padding: 20px;
  }
  .b3-right {
    padding: 20px;
  }

  h2 {
    max-width: 540px;
    margin: 0 auto;
    font-size: 37px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    padding: 20px 0 40px;
  }

  background-color: $secondary;
  padding: 50px 0;
  // margin: 120px 0px 100px;
  border-radius: 15px;
  .banner3-wrap {
    display: flex;

    justify-content: space-between;

    .b3 {
      flex: 0 0 calc(100% / 3 - 40px);
    }

    .b3-input {
      display: flex;
      align-items: center;
      gap: 15px;

      background: white;
      padding: 15px 20px;
      border-radius: 12px;

      // position: relative;  // important if you add absolute icon later

      i {
        color: $secondary;
        font-size: 20px;
      }

      input {
        width: 100%;
        border: none;
        outline: none;
        padding: 12px 10px;
        font-size: 16px;

        &::placeholder {
          color: rgba(174, 170, 170, 0.6);
        }
      }

      button {
        @include buttons;
        display: flex;
        align-items: center;
        gap: 5px;

        i {
          font-size: 14px;
          color: white;
        }
      }
    }
  }
}

// ========footer=============


.footer-section{

  padding: 20px 40px 40px;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0 -20px;
  // justify-content: space-around;


  .f1 {
    .f-logo {
      img {
        width: 128px;
      }
    }
    i {
      font-size: 20px;
    }

    .f-content {
      margin-bottom: 27px;
    }

    .fb {
      color: $secondary;
    }
    .tw {
      color: black;
    }
    .in {
      color: rgb(0, 145, 255);
    }

    .social {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }
  }

  h3 {
    font-size: 16px;
    color: $text;
    font-weight: 700;
    margin-bottom: 22px;
  }

  p,
  li {
    color: #4f5e64;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    list-style-type: none;

    max-width: 277px;
  }

  .foot {
    flex: 0 0 calc(100% / 3 - 40px);
    margin: 20px 20px 0;
  }


  .f1{
  // flex: 0 0 30%;
  margin-bottom: 30px;
}

.f4{
  // flex: 0 0 30%;
}

.f3-foot{
  display: flex;
  // flex-wrap: wrap;
  // gap: 40px;
  // margin: 0 -20px;
  // flex: 40%;
}

.f3-foot .f{
  flex: 0 0 calc(100% / 4 - 40px);
  margin: 20px 20px 0;
}



  .f4 {
    p {
      color: #4f5e64;
      font-size: 12px;
      font-weight: 500;
      line-height: 21px;
      list-style-type: none;
      max-width: 220px;
    }

    .f-btn {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px 0px;

      .s-content {
        @include buttons;
        padding: 5px 20px;
        display: flex;
        gap: 10px;
        align-items: center;

        p {
          color: #ffff;

          font-size: 5px !important;
          line-height: 7px;
        }

        i {
          font-size: 20px;
          width: 12px;
        }
      }
    }
  }
}

// copyrights --------------

.copyRights-section{
  padding: 20px 0px;

}
.copyRights {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
  p {
    color: #4f5e64;
    font-size: 12px;
    font-weight: 500;

    
  }
  .left{
        margin: 20px;
  }

  .right {
    display: flex;
    gap: 32px;
    margin: 20px;
  }
}

// ===================================================
// banner3
.banner3 {
  position: relative;
  // width: fit-content;
  // height: fit-content;
}
.b3-left img {
  position: absolute;
}

/* 1st image - top-left */
.b3-left img:nth-child(1) {
  top: 13%;
  left: 5%;
}

/* 2nd image - to the right of image1 */
.b3-left img:nth-child(2) {
  top: 50%;
  left: 20%; /* change based on your image width */
}

/* 3rd image - below image2 */
.b3-left img:nth-child(3) {
  top: 70%;
  left: 5%;
}

.b3-right img {
  position: absolute;
}

/* top image */

.b3-right img:nth-child(1) {
  top: 60px;
  right: 120px;
}

/* bottom image */
.b3-right img:nth-child(2) {
  top: 50%;
  right: 10%;
}
