/* Laptops (1440px) */

@media (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }

  .boxes {
    /* padding: 30px 70px; */

    .box {
      flex: 0 0 calc(100% / 4 - 20px);
    }
  }

  .up,
  .down {
    display: none;
  }

  .l-card,
  .l2-card {
    flex: 0 0 calc(100% / 4 - 20px);
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }

  nav ul {
    gap: 10px;
  }

  .hero-section {
    padding: 50px;
    /* background-color: transparent; */
    /* background: none; */
  }
  .hero {
    display: block;

    img {
      display: none;
    }

    .title {
      /* @include center; */
      margin: 0 auto;
      max-width: 60%;

      h1 {
        font-size: 65px;
      }

      p {
        font-size: 20px;
      }
    }

    .search {
      margin: 0 auto;
      max-width: 70%;
    }

    .popular {
      padding: 20px 0px;
      margin: 0 auto;
    }
  }

  .main img {
    width: 80%;
    margin: 0 auto;
  }

  /* ---------browse0 */

  .cards {
    /* padding: 40px 80px; */

    .card {
      flex: 0 0 calc(100% / 4 - 20px);
    }
  }
}

/* boxes */

/* 
.boxes{
      justify-content: center;

        .box {
            flex: 0 0 calc(100% / 2 - 20px);
            
        }

} */

/* ================================================================================== */
@media (max-width: 1000px) {
  .container {
    max-width: 900px;
  }

  .nav-middle {
    position: absolute;
    top: 70px;
    right: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    display: none;
  }

  .nav-middle ul {
    flex-direction: column;
    gap: 20px;
  }

  .hamburger {
    display: flex;
    width: 25px;
    height: 20px;
  }

  .nav-last {
    display: none;
  }

  /* Show menu */
  .nav-middle.show {
    display: block;
  }

  .boxes {
    justify-content: center;

    .box {
      flex: 0 0 calc(100% / 3 - 20px);
    }
  }

  .jobs .j-card {
    border: none;
  }
  .c-content {
    /* display: none; */
  }

  .recruiter .r2 p {
    /* font-size: 12px; */
  }

  /* million seciton */

  .million {
    display: flex;
    justify-content: space-around;

    .m-right h2 {
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
    }
  }

  .banner2 {
    /* padding: 88px 60px; */
  }

  .browse {
    .card {
      flex: 0 0 calc(100% / 8 - 20px);
      align-items: center;
      justify-content: start;

      h5 {
        display: block;
      }
    }
  }

  .footer .f1 {
    /* flex: 0 0 40%; */
  }

  .footer .f4 {
    /* flex: 0 0 40%; */
  }

  .l-card,
  .l2-card {
    /* width: 40%; */
    flex: 0 0 calc(100% / 3 - 20px);

    /* flex: 0 0 calc(100% / 2 0px); */
  }


  .banner2 {
  .b-box {

    flex: 0 0 calc(100% /2 - 20px);

  }
}
}

/* Big Mobiles */
@media (max-width: 820px) {
  .hero {
    .title h1 {
      font-size: 60px;
    }

    .search .left {
      display: flex;
      gap: 2px;
      align-items: center;
    }
    .search {
      max-width: 90%;
    }
  }
  /* browwse */

  .cards {
    padding: 40px 50px;
    /* justify-content: start; */
    padding: 0 40px;
  }

  .banner-main {
    padding: 40px 40px;
    /* padding: 0; */

    .b-right {
      p {
        display: none;
      }
    }

    img {
      width: 50%;
    }
  }

  .jobs {
    .j-cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      /* gap: 5px; */
      padding: 20px 0;
      margin: 0 auto;
      .j-card {
        border: none;
      }
    }
  }

  .blog-section .blog {
    padding: 0px 40px;
    .b-cards {
      justify-content: start;

      .b-card {
        flex: 0 0 calc(100% / 2 - 60px);
      }
    }
  }

  .banner3 {
    padding: 15px 0px;
    margin: 45px 30px;
    border-radius: 15px;
  }

  .b3-left,
  .b3-right {
    display: none;
  }
  .b3-input {
    margin: 0 auto;
  }


 .location .l-card{
    flex: 0 0 calc(100% /3 - 10px);
  }
}

@media (max-width: 761px) {
  .container {
    max-width: 600px;
  }

  .hero {
    .title h1 {
      font-size: 50px;
    }

    .logo img {
      width: 90%;
    }

    .search {
      flex-direction: column;

      max-width: 50%;
    }

    .left {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      .block {
        font-size: 22px;
        padding: 10px;
      }
    }
  }

   .cards {
    padding: 40px 50px;
    gap: 20px;
    /* justify-content: flex-start; */
    padding: 0 40px;
  }

   .browse .card {
    align-items: start;
    flex: 0 0 calc(100% / 3 - 20px);
    gap: 10px;
    padding: 10px;
  }

  .banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    h1 {
      font-size: 35px;
    }

    button {
      font-size: 10px;
      margin: 10px;
    }
  }

  .million {
    .m-right h3 {
      margin-bottom: 20px;
      font-size: 25px;
      color: #a0abb8;
      font-weight: 600;
    }
    .main img {
      width: 100%;
    }

    .m-right h2 {
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
    }
  }
 .recruiter h2{
    font-size: 30px;
  }


  .location .l-title h2 {
    font-size: 30px;
  }
  .banner2 .b-box h2 {
    font-size: 35px;
  }
  .banner2 .b-box h4 {
    font-size: 15px;
  }
  .banner2 .b-box p {
    font-size: 12px;
    line-height: 18px;
  }

  .footer {
    .f1 {
      flex: 0 0 80%;
    }

    .f4 {
      flex: 0 0 70%;
    }

     .f3-foot {
      margin: 0;
    flex: 0 0 100%;
  }
  }

}

/* Small mobiles */
@media (max-width: 650px) {
  .hero-section {
    padding: 30px;
  }

  .hero {
    .title h1 {
      font-size: 45px;
    }

    .popular {
      display: none;
    }
  }

  .b-title h2 {
    font-size: 25px;
  }

  .jobs h2 {
    font-size: 26px;
  }

.boxes .box {
    flex: 0 0 calc(100% / 1 - 150px);
}

  .footer {
    /* padding: 20px 40px 40px; */
  }

  .million-section{
    padding: 10px;
  }

  .million {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
        padding:20px 46px;


        .main img {
            width: 100%;
            margin-bottom: 20px;
        }


}

.banner2 .b-box {
     max-width: none;

}

.banner2{
 
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  .banner2-section{

    padding: 0px;
  }
}

@media (max-width: 545px) {
  .card {
    align-items: start;
    flex: 0 0 calc(100% / 3 - 20px);
    gap: 10px;
    padding: 10px;
  }

  .million-section {
    /* padding: 41px 0px; */
  }
  .million {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .main img {
      width: 60%;
      margin-bottom: 20px;
    }

    .m-right {
      /* padding: 10px 36px; */
    }
  }

  .banner2 {
    padding: 25px 60px;
  }

  .blog-section .blog {
    & .b-cards {
      justify-content: center;
      .b-card {
        flex: 0 0 100%;
        /* flex: 0 0 calc(100% / 1 - 60px); */
      }
    }
  }

  .r-card {
    margin: 0 auto;
    flex: 0 0 100%;
    justify-content: space-between;

    .r2 {
      justify-content: space-between;
    }
  }

  .location .l-card{
    flex: 0 0 calc(100% - 100px);
  }


  .location-section{
    padding: 0;
  }

  .banner3-section {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 400px;
  }
  .hero-section {
    padding: 10px;
  }

  .hero {
    .title {
      h1 {
        line-height: 45px;
        font-size: 35px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .jobs .j-title {
    padding: 15px 0;
  }

  .nav-last a {
    display: none;
  }
  nav .logo img {
    width: 70%;
  }

  button {
    padding: 10px 15px;
  }

  .banner-main {
    padding: 21px 20px;
  }

  .cards {
    .card {
      align-items: start;
      flex: 0 0 calc(100% / 2 - 20px);
      gap: 10px;
      padding: 10px;
      align-items: center;
      img {
        width: 30px;
      }
      p {
        display: none;
      }
    }
  }

  .browse .b-title p {
    padding: 20px 20px;
  }

  .j-title p {
    padding: 20px 20px;
  }

  .copyRights {
    flex-direction: column;
    gap: 20px;

    .c-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .right {
    display: flex;
    gap: 32px;
    flex-direction: column;
    text-align: start;
  }

  .r-card {
    margin: 0 auto;
    flex: 0 0 calc(100% - 40px);
    justify-content: space-between;

    .r2 {
      justify-content: space-between;
    }
  }

  .boxes {
    padding: 20px;
  }

  .banner2 {
    padding:30px 0;

    .b-box p {
      display: none;
    }
  }

  .banner2 .b-box h2 {
    font-size: 30px;
  }


 .footer{
  .f1{
 flex: 0 0 100%;
}

.f4{
 flex: 0 0 100%;
}

.f3-foot{
 display: flex;
 flex-wrap: wrap;
 gap: 40px;
 flex: 40%;
}

.f3-foot .f{
 flex: 0 0 calc(100% - 40px);
 margin-bottom: 30px;
}
}

.jobs .j-card img {
    width: 30px;
}


    .boxes .box {
        flex: 0 0 calc(100% / 1 - 100px);
    }



}

@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }

  .banner {
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
  }

  .banner3 .banner3-wrap .b3-input button {
    font-size: 0px;
  }

  .banner3 h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
  }

  .location .l-card,
  .location .l2-card {
    flex: 0 0 calc(100% - 40px);
    gap: 10px;
  }

  .blog-section .blog .b-cards {
    padding: 20px 0px;
  }

  .button {
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
  }

  .banner-main {
    img {
      width: 50%;
      display: none;
    }
  }
}
